<div class="side-bar">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle size noStyle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Breakfast <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/search-results', 'french toast']">French Toast</a></li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/search-results', 'pancakes']">Pancakes</a></li>
      <li role="separator" class="divider"></li>
      <li><a [routerLink]="['/search-results', 'meat']">Breakfast Meats</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle size noStyle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Lunch <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Soup</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Salad</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Sandwiches</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle size noStyle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dinner <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Chicken</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Roast</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Entrees</a></li>
    </ul>
  </div>
</div>
