<div class="emailPasswordBox container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">



      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Log In</h2>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" placeholder="Email">
          <br>
          <input type="text" class="form-control" placeholder="Password">
          <br>
          <button class="btn btn-default">Submit</button>
        </div>
      </div>



    </div>
    <div class="col-md-4"></div>
  </div>
</div>
