<div class="main-container">
    <div class="contains-title">
        <h1 class="featured-title">{{searcher.resultsHeader}}</h1>
    </div>


    <div class="featuredRecipes">
        <div *ngIf="!searcher.results" class="recipe-card contains-title time time-font">
            <img [src]="loadingSpinner" style="height: 168px; width: 168px;">
            LOADING...
        </div>
        <div *ngFor="let result of searcher.results; let i = index;" [class]="'recipes' + (i+1)"
             [routerLink]="['/recipes', result.recipe_id]">
            <div class="recipe-card">

                <div class="recipe-card-header"><h4 [innerHtml]="result.title"></h4></div>
                <div class="recipe-card-body">
                    <div class="WhatEverTheHellYouWant">
                        <img [src]="result.image_url">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="nav-container" *ngIf="searcher.results">

        <div *ngIf="searcher.showPrevious"   class="nav-container-left">

            <button class="btn btn-primary nav-button"
                    [routerLink]="['/home', (searcher.pageNumber * 1) - previousChangeAmount]"
                    (click)="changeResultPage(previousButtonText)">
                <p class="glyphicon glyphicon-triangle-left glyphicon-font-size"></p>
                {{previousButtonText}}
            </button>

            <input type="number" class="number-input"   min="1" [max]="searcher.pageNumber - 1"
                     name="backwardAmount"  [(ngModel)]="previousChangeAmount">
            <span class="glyphicon glyphicon-minus  page-change-input"></span>
        </div>

        <div class="page-number">{{searcher.pageNumber}}</div>

        <div  *ngIf="searcher.showNext"    class="nav-container-right">
            <span class="glyphicon glyphicon-plus  page-change-input"></span>
            <input type="number" class="number-input"  min="1"
                   name="forwardAmount"  [(ngModel)]="nextChangeAmount">

            <button class="btn btn-primary nav-button"
                    [routerLink]="['/home', (searcher.pageNumber * 1) + nextChangeAmount]"
                    (click)="changeResultPage(nextButtonText)">
                {{nextButtonText}}
                <p class="glyphicon glyphicon-triangle-right glyphicon-font-size"></p>
            </button>

        </div>

    </div>

</div>
