<div class="main-container">
    <div class="contains-title">
        <h1 class="featured-title">{{searcher.resultsHeader}}</h1>
    </div>


    <div class="featuredRecipes">
        <div *ngIf="!searcher.results" class="recipe-card contains-title time time-font">
            <img [src]="loadingSpinner" style="height: 168px; width: 168px;">
            LOADING...
        </div>
        <div *ngFor="let result of searcher.results; let i = index;" [class]="'recipes' + (i+1)"
             [routerLink]="['/recipes', result.recipe_id]">
            <div class="recipe-card">

                <div class="recipe-card-header"><h4 [innerHtml]="result.title"></h4></div>
                <div class="recipe-card-body">
                    <div class="WhatEverTheHellYouWant">
                        <img [src]="result.image_url">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-container" *ngIf="searcher.results">

        <div class="nav-container-left">
            <button class="btn btn-primary nav-button"
                    [style.display]="searcher.showPrevious ?  'inherit' : 'none'"
                    [routerLink]="['/home', (searcher.pageNumber * 1) - pageChangeAmount]"
                    (click)="changeResultPage(previousButtonText)">
                <p class="glyphicon glyphicon-triangle-left glyphicon-font-size"></p>
                {{previousButtonText}}
            </button>
            <input type="number" min="1" name="backwardAmount"  [(ngModel)]="pageChangeAmount">
        </div>

        <div class="page-number">{{searcher.pageNumber}}</div>

        <div class="nav-container-right">
            <input type="number" min="1" name="forwardAmount"  [(ngModel)]="pageChangeAmount">
            <button class="btn btn-primary nav-button" [style.display]="searcher.showNext ? 'inherit' :'none'"
                    [routerLink]="['/home', (searcher.pageNumber * 1) + pageChangeAmount]"
                    (click)="changeResultPage(nextButtonText)">
                {{nextButtonText}}
                <p class="glyphicon glyphicon-triangle-right glyphicon-font-size"></p>
            </button>
        </div>

    </div>

</div>
