.recipe {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px #4c728c;
  border-radius: 15px;
  overflow: hidden;
}

.recipe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  padding: 0 5px;
  border-bottom: solid 1px darkgray;
}

.recipe-body {
  background-color: whitesmoke;
  padding: 0 0 10px 0;
}

.content-container {
  padding: 10px 0 10px 30px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 600px;
}

.recipe-body img {
  width: 1000px;
}

.back-button {
  width: 100px;
}

.button-container {
  display: flex;
    justify-content: center;
    margin: 0 0 0 30px;

}

.publisher-link {
    text-decoration: none;
}
.recipe-container{
    padding: 0 0 20px 0;
}
.glyphicon-heart {
    color: #f06db6;
    padding: 8px 0 0 20px;
    font-size: 18px;
    cursor: pointer;
}
.glyphicon-heart-empty {
    color: #f06db6;
    padding: 8px 0 0 20px;
    font-size: 18px;
    cursor: pointer;
}

.time {
    display: flex;
    align-items: center;
    color: gray;
}

.time-font {
    font-size: 21px;
    font-family: Futura, sans-serif;
}

.recipe-card {
    cursor: pointer;
    width: 325px;
    height: 250px;
    box-shadow: 0 3px 6px #4c728c;
    border-radius: 15px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.contains-title {
    display: flex;
    justify-content: center;
}

.image-container {
    height: 300px;
}

@media only screen and (max-width: 500px) {

    .image-container {
        height: 300px;
    }
}
.padding{
    padding: 10px 30px 0 0 ;
}

.commentContainer{
    padding: 0 0 0 30px;
}

.commentCommand{
    font-size: 25px;
}
.well{
    margin:0 30px 10px 0;
    padding: 10px 0 0 10px;
}
