.recipe {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px #4c728c;
  border-radius: 15px;
  overflow: hidden;
}

.recipe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  padding: 0 5px;
  border-bottom: solid 1px darkgray;
}

.recipe-body {
  background-color: whitesmoke;
  padding: 0 0 10px 0;
}

.content-container {
  padding: 10px 0 10px 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.recipe-body img {
  width: 1000px;
}

.back-button {
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.publisher-link {
  text-decoration: none;
}
.recipe-container{
    padding: 0 0 20px 0;
}
.glyphicon-heart {
    color: #f06db6;
    padding: 8px 0 0 20px;
    font-size: 18px;
}
.glyphicon-heart-empty {
    color: #f06db6;
    padding: 8px 0 0 20px;
    font-size: 18px;
}
