body {
  background-color: #90ccf4;
}

.thing-that-contains{
  background-color: #ECECEC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  width: 33.33%;
}

.separate-me {
  display: flex;
  justify-content: space-between;
}

.fav-font {
  font-size: 18px;
  font-family: Futura, sans-serif;
}

.glyphicon-heart {
  color: #f06db6;
  margin: 0;
  font-size: 18px;
}

.title {
  font-family: Futura, sans-serif;
  font-size: 45px;
  outline: none;
  cursor: pointer;
}
