<div class="thediv">
    <div class="main-container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand fav-font brand-container" href="#">
                        <img class="brand-logo" src="../assets/favicon.png" alt="Panterest"/>
                        {{ title | uppercase}}
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li *ngIf="user.loggedIn">
                            <a class="fav-font" [routerLink]="['/favorites']">
                                <p class="glyphicon glyphicon-heart"></p>
                                Favorites
                            </a>
                        </li>
                        <li class="fav-font">
                            <a>
                                <app-user-profile></app-user-profile>
                            </a>
                        </li>
                    </ul>
                    <app-search-bar></app-search-bar>
                </div>
            </div>


        </nav>

    </div>

    <router-outlet></router-outlet>

</div>
