.main-container {
  background-color: #90ccf4;
    overflow-y: auto;
    overflow-x: hidden;

}

.thing-that-contains{
  background-color: #ECECEC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  width: 33.33%;
}

.separate-me {
  display: flex;
  justify-content: space-between;
}

.fav-font {
  font-size: 18px;
  font-family: Futura, sans-serif;
  cursor: pointer;
}

.glyphicon-heart {
  color: #f06db6;
  margin: 0;
  font-size: 18px;
}

.title {
  font-family: Futura, sans-serif;
  font-size: 45px;
  outline: none;
  cursor: pointer;
}

.brand-container {
    display: flex;

}

.brand-logo {
    width: 35px;
    height: 30px;
    padding: 0 6px 0 0;
    margin: -9px 0 0 0;
}
