<!--The content below is only a placeholder and can be replaced.-->
<head>
  <meta name="viewport" content="width=divice-width, initial-scale=1">
</head>
<body>

<div class="thing-that-contains container-fluid">
  <div class="nav-section">
    <app-search-bar></app-search-bar>
  </div>
  <div class="title nav-section">
    <h1 [routerLink]="['/home']">
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="button nav-section separate-me">
    <div>
      <button class="btn btn-default" [routerLink]="['/favorites']"><p class="glyphicon glyphicon-heart-empty fav-font"></p> My Favorites</button>
    </div>
    <div>
      <a [routerLink]="['/signup']">Sign Up</a>
      <button class="btn btn-default" [routerLink]="['/login']" >Log In</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
