.side-bar{
  background-color: #F3D240;
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  border-radius: 15px 15px 0 0;


}

.size{
  height: auto;
  width: 98px;
}
.noStyle {
  background-color: #F3D240;
  border: none;
}

.noStyle:active:focus, .noStyle:hover{
  background-color: #b9992e;
  border: none;
}

.fav-font {
    font-family: Futura, sans-serif;
    font-size: 20px;
}
