<div class="main-container ">
  <div class="contains-title">
    <h1 class="featured-title">Today's Featured Recipes</h1>
  </div>


  <div class="featuredRecipes">

    <div *ngFor="let recipe of recipes; let i = index;" [class]="'recipes' + (i+1)" [routerLink]="['/recipes', recipe.recipe_id]">
      <div class="recipe-card">
        <a class="featured-recipe-link"  [href]="">
          <div class="recipe-card-header"><h4>{{recipe.title}}</h4></div>
          <div class="recipe-card-body">
            <img [src]="recipe.image_url">
            <p>{{recipe.social_rank}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>


  <!--  Examples   -->

  <!--<div class="featuredRecipes">-->
    <!--<div class="recipes1">-->
      <!--<div class="recipe-card">-->
        <!--<div class="recipe-card-header"><h4>Albondigas</h4></div>-->
        <!--<div class="recipe-card-body">-->
          <!--<img src="../../assets/test.jpg">-->
          <!--<div class="time">-->
            <!--<p class="time-font glyphicon glyphicon-time"></p>-->
            <!--<p>-->
              <!--Cook Time: 45 min.-->
            <!--</p>-->
          <!--</div>-->
          <!--<p>-->
            <!--Description: Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts-->
            <!--fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.-->
          <!--</p>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="recipes2">-->
      <!--<div class="recipe-card">-->
        <!--<div class="recipe-card-header"><h4>Albondigas</h4></div>-->
        <!--<div class="recipe-card-body">-->
          <!--<img src="../../assets/test.jpg">-->
          <!--<div class="time">-->
            <!--<p class="time-font glyphicon glyphicon-time"></p>-->
            <!--<p>-->
              <!--Cook Time: 45 min.-->
            <!--</p>-->
          <!--</div>-->
          <!--<p>-->
            <!--Description: Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts-->
            <!--fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.-->
          <!--</p>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="recipes3">-->
      <!--<div class="recipe-card">-->
        <!--<div class="recipe-card-header"><h4>Albondigas</h4></div>-->
        <!--<div class="recipe-card-body">-->
          <!--<img src="../../assets/test.jpg">-->
          <!--<div class="time">-->
            <!--<p class="time-font glyphicon glyphicon-time"></p>-->
            <!--<p>-->
              <!--Cook Time: 45 min.-->
            <!--</p>-->
          <!--</div>-->
          <!--<p>-->
            <!--Description: Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts-->
            <!--fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.-->
          <!--</p>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>
