<div class="browse-window container-fluid">

  <div class="recipe-card" *ngFor="let recipe of recipes" [routerLink]="['/recipes', recipe.recipe_id]">
    <div class="recipe-card-header"><h4>{{recipeName}}</h4></div>
    <div class="recipe-card-body">
      <img [src]="recipeImage" [alt]="imageDescription">
    </div>
  </div>

    <div class="nav-container">
      <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
              <li>
                  <a aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li *ngFor="let page of pages">{{page}}</li>
              <li>
                  <a aria-label="Next" (click)="search()">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
      </nav>
    </div>

</div>


