<div *ngIf="gAuth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!--If User NOT logged in, show this: -->
<ng-template #guest>
  <button (click)="gAuth.googleLogin()">
    <i class="fa fa-google"></i> Google Login
  </button>
</ng-template>

<!--If User logged in, show this: -->
<ng-template #authenticated>
  <div *ngIf="gAuth.user | async as user">
    <p>Hi, {{ user.displayName }}</p>
    <img class="google-photo-thumbnail"  [src]="user.photoURL"  alt="Photo ID">
    <button (click)="gAuth.signOut()">Logout</button>
  </div>
</ng-template>
