<li *ngIf="gAuth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</li>

<!--If User NOT logged in, show this: -->
<ng-template #guest>
  <li>
    <a class="fa fa-google" (click)="gAuth.googleLogin()">
      Google Login
    </a>
  </li>
</ng-template>

<!--If User logged in, show this: -->

<ng-template #authenticated>
  <li>
  <div *ngIf="gAuth.user | async as user">
    <div class="fontSize">Hi, {{ user.displayName }} <p class="glyphicon glyphicon-user"></p><a  class="noUnderline" (click)="gAuth.signOut()">&nbsp;&nbsp;&nbsp;Logout</a></div>

  </div>
  </li>
</ng-template>
